#sidebar {
    left: 0;
    height: 100vh;
    width: 16rem;
    transition: transform 0.3s ease;
    overflow: hidden;
}

@media (max-width: 767px) {
    #sidebar {
        top: 4rem;
        /* below the header on mobile */
        height: calc(100vh - 4rem);
        z-index: 50;
        /* above overlay */
    }

    #main-nav,
    #main-content {
        margin-left: 0 !important;
        /* prevent shifting on mobile */
    }
}

@media (min-width: 768px) {
    #sidebar {
        top: 0;
        height: 100vh;
        z-index: 30;
        /* below header on desktop */
    }
}

#overlay {
    z-index: 40;
    /* below sidebar, above content */
}